/*
 * 1. http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
 * 2. s/.navbar-default/.navbar-custom/
 * 3. s/.navbar-custom /:global .navbar-custom/
 * 4. Change border-color for navbar-form to #e8633e
 */

:global .navbar-custom {
  background-color: #fc6c43;
  border-color: #e8633e;
}
:global .navbar-custom .navbar-brand {
  color: #ecf0f1;
}
:global .navbar-custom .navbar-brand:hover,
:global .navbar-custom .navbar-brand:focus {
  color: #ffffff;
}
:global .navbar-custom .navbar-text {
  color: #ecf0f1;
}
:global .navbar-custom .navbar-nav > li > a {
  color: #ecf0f1;
}
:global .navbar-custom .navbar-nav > li > a:hover,
:global .navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
}
:global .navbar-custom .navbar-nav > .active > a,
:global .navbar-custom .navbar-nav > .active > a:hover,
:global .navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #e8633e;
}
:global .navbar-custom .navbar-nav > .open > a,
:global .navbar-custom .navbar-nav > .open > a:hover,
:global .navbar-custom .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #e8633e;
}
:global .navbar-custom .navbar-toggle {
  border-color: #e8633e;
}
:global .navbar-custom .navbar-toggle:hover,
:global .navbar-custom .navbar-toggle:focus {
  background-color: #e8633e;
}
:global .navbar-custom .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
:global .navbar-custom .navbar-collapse,
:global .navbar-custom .navbar-form {
  border-color: #e8633e;
}
:global .navbar-custom .navbar-link {
  color: #ecf0f1;
}
:global .navbar-custom .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  :global .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  :global .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  :global .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  :global .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  :global .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  :global .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #e8633e;
  }
}
